<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <meta charset="UTF-8">
    <link href="/static/css/user_change.css"  rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
<img src="/media/logo1.png"  style="    height: 81px;     margin-top: -30px;
   float: right;" alt=""/>
    <form method="post" enctype="multipart/form-data">{% csrf_token%}
          <div class="form-group">

        <table class="table" border="1">
            {{ account.as_table }}
        </table>
        <button type="submit" class="btnRegister4">POST</button>
          </div>
    </form>
</body>
</html>